.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.grid{
   display: grid;
   padding: 20px;
   text-align: center;
   text-align: justify;
}
 @media (max-width:800px){
    .container{
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr))
    }
 }
